anonymous_enable={{ anonymous_enable_bool }}
local_enable={{ local_enable_bool }}
write_enable={{ write_enable_bool }}
local_umask={{ local_umask_int }}
anon_upload_enable={{ anon_upload_enable_bool }}
anon_mkdir_write_enable={{ anon_mkdir_write_enable_bool }}
anon_umask={{ anon_umask_int }}
anon_other_write_enable={{ anon_other_write_enable_bool }}
anon_root={{ anon_root_str }}
no_anon_password={{ no_anon_password_bool }}
hide_ids={{ hide_ids_bool }}
pasv_min_port={{ pasv_min_port_int }}
pasv_max_port={{ pasv_max_port_int }}
dirmessage_enable={{ dirmessage_enable_bool }}
xferlog_enable={{ xferlog_enable_bool }}
connect_from_port_20={{ connect_from_port_20_bool }}
xferlog_std_format={{ xferlog_std_format_bool }}
listen={{ listen_bool }}
listen_ipv6={{ listen_ipv6_bool }}
pam_service_name={{ pam_service_name_str }}
userlist_enable={{ userlist_enable_bool }}